backend-cc/schemas/fd1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:fd1="http://www.uif.shcp.gob.mx/recepcion/fd1"
            targetNamespace="http://www.uif.shcp.gob.mx/recepcion/fd1"
	    elementFormDefault="qualified">
        
<xsd:element name="reporte" type="fd1:reporte_type"></xsd:element>

<!--COMPLEX TYPE-->
    <xsd:complexType name="reporte_type">
        <xsd:sequence>
            <xsd:element name="trimestre_reportado" type="fd1:trimestre_type"></xsd:element>
            <xsd:element name="sujeto_obligado" type="fd1:so_type"></xsd:element>
            <xsd:element name="operaciones" type="fd1:operaciones_type" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="so_type">
        <xsd:sequence>
            <xsd:element name="clave_organo_regulador" type="fd1:clave_or_type"></xsd:element>
            <xsd:element name="clave_sujeto_obligado" type="fd1:clave_so_type"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="operaciones_type">
        <xsd:sequence>
            <xsd:element name="operacion" type="fd1:operacion_type" maxOccurs="unbounded" minOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="operacion_type">
        <xsd:sequence>
            <xsd:element name="folio_consecutivo" type="fd1:folio_type"></xsd:element>
            <xsd:element name="modificatorio" type="fd1:modificatorio_type" minOccurs="0"></xsd:element>
            <xsd:element name="fecha_hora" type="fd1:fecha_hora_type"></xsd:element>
            <xsd:element name="tipo_operacion" type="fd1:tipo_oper_type"></xsd:element>
            <xsd:element name="cuenta_contrato" type="fd1:cuenta_type"></xsd:element>
            <xsd:element name="monto_operacion" type="fd1:monto_type"></xsd:element>
            <xsd:element name="moneda" type="xsd:string" fixed="USD"></xsd:element>
            <xsd:element name="instrumento_monetario" type="xsd:positiveInteger" fixed="1"></xsd:element>
            <xsd:element name="liquidacion" type="fd1:liquidacion_type" minOccurs="0"></xsd:element>
            <xsd:element name="sucursal_ubicacion" type="fd1:sucursal_type"></xsd:element>
            <xsd:element name="persona_reportada" type="fd1:persona_reportada_type"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="modificatorio_type">
        <xsd:sequence>
            <xsd:element name="folio_previo" type="fd1:folio_type"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sucursal_type">
        <xsd:choice>
            <xsd:element name="clave_sucursal" type="fd1:clave_sucursal_type"></xsd:element>
            <xsd:element name="codigo_postal" type="fd1:cp_nac_type"></xsd:element>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="liquidacion_type">
        <xsd:sequence>
            <xsd:element name="cuenta_contrato_liquidacion" type="fd1:cuenta_type" minOccurs="0"></xsd:element>
            <xsd:element name="monto_operacion_liquidacion" type="fd1:monto_type"></xsd:element>
            <xsd:element name="moneda_liquidacion" type="fd1:moneda_type"></xsd:element>
            <xsd:element name="instrumento_monetario_liquidacion" type="fd1:inst_mone_liq_type"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="persona_reportada_type">
        <xsd:sequence>
            <xsd:element name="persona" type="fd1:persona_type"></xsd:element>
            <xsd:element name="domicilio" type="fd1:domicilio_type"></xsd:element>
            <xsd:element name="telefono" type="fd1:telefono_type" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="persona_type">
        <xsd:choice>
            <xsd:element name="usuario" type="fd1:usuario_type"></xsd:element>
            <xsd:element name="cliente" type="fd1:cliente_type"></xsd:element>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="usuario_type">
        <xsd:sequence>
            <xsd:element name="tipo_persona" type="fd1:tp_usuario_type"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="cliente_type">
        <xsd:sequence>
            <xsd:element name="tipo_persona" type="fd1:tp_cliente_type"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tp_usuario_type">
        <xsd:choice>
            <xsd:element name="persona_fisica" type="fd1:pf_usuario_type"></xsd:element>
            <xsd:element name="persona_moral" type="fd1:pm_usuario_type"></xsd:element>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="tp_cliente_type">
        <xsd:choice>
            <xsd:element name="persona_fisica" type="fd1:pf_cliente_type"></xsd:element>
            <xsd:element name="persona_moral" type="fd1:pm_cliente_type"></xsd:element>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="pf_usuario_type">
        <xsd:sequence>
            <xsd:element name="nombre" type="fd1:nombre_type"></xsd:element>
            <xsd:element name="apellido_paterno" type="fd1:nombre_type"></xsd:element>
            <xsd:element name="apellido_materno" type="fd1:nombre_type"></xsd:element>
            <xsd:element name="fecha_nacimiento" type="fd1:fecha_type"></xsd:element>
            <xsd:element name="curp" minOccurs="0" type="fd1:curp_type"></xsd:element>
            <xsd:element name="rfc" minOccurs="0" type="fd1:rfc_fisica_type"></xsd:element>
            <xsd:element name="pais_nacimiento" minOccurs="0" type="fd1:pais_type"></xsd:element>
            <xsd:element name="pais_nacionalidad" type="fd1:pais_type"></xsd:element>
            <xsd:element name="actividad_economica" minOccurs="0" type="fd1:actividad_giro_type"></xsd:element>
            <xsd:element name="correo_electronico" minOccurs="0" type="fd1:correo_type"></xsd:element>
            <xsd:element name="fiel" minOccurs="0" type="fd1:fiel_type"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pm_usuario_type">
        <xsd:sequence>
            <xsd:element name="denominacion_razon" type="fd1:denominacion_type"></xsd:element>
            <xsd:element name="fecha_constitucion" minOccurs="0" type="fd1:fecha_type"></xsd:element>
            <xsd:element name="rfc" minOccurs="0" type="fd1:rfc_moral_type"></xsd:element>
            <xsd:element name="pais_nacionalidad" type="fd1:pais_type"></xsd:element>
            <xsd:element name="giro_mercantil" minOccurs="0" type="fd1:actividad_giro_type"></xsd:element>
            <xsd:element name="correo_electronico" minOccurs="0" type="fd1:correo_type"></xsd:element>
            <xsd:element name="fiel" minOccurs="0" type="fd1:fiel_type"></xsd:element>
            <xsd:element name="apoderado_legal" type="fd1:apoderado_type" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pf_cliente_type">
        <xsd:sequence>
            <xsd:element name="nombre" type="fd1:nombre_type"></xsd:element>
            <xsd:element name="apellido_paterno" type="fd1:nombre_type"></xsd:element>
            <xsd:element name="apellido_materno" type="fd1:nombre_type"></xsd:element>
            <xsd:element name="fecha_nacimiento" type="fd1:fecha_type"></xsd:element>
            <xsd:element name="curp" minOccurs="0" type="fd1:curp_type"></xsd:element>
            <xsd:element name="rfc" minOccurs="0" type="fd1:rfc_fisica_type"></xsd:element>
            <xsd:element name="pais_nacimiento" type="fd1:pais_type"></xsd:element>
            <xsd:element name="pais_nacionalidad" type="fd1:pais_type"></xsd:element>
            <xsd:element name="actividad_economica" type="fd1:actividad_giro_type"></xsd:element>
            <xsd:element name="correo_electronico" minOccurs="0" type="fd1:correo_type"></xsd:element>
            <xsd:element name="fiel" minOccurs="0" type="fd1:fiel_type"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pm_cliente_type">
        <xsd:sequence>
            <xsd:element name="denominacion_razon" type="fd1:denominacion_type"></xsd:element>
            <xsd:element name="fecha_constitucion" minOccurs="0" type="fd1:fecha_type"></xsd:element>
            <xsd:element name="rfc" minOccurs="0" type="fd1:rfc_moral_type"></xsd:element>
            <xsd:element name="pais_nacionalidad" type="fd1:pais_type"></xsd:element>
            <xsd:element name="giro_mercantil" type="fd1:actividad_giro_type"></xsd:element>
            <xsd:element name="correo_electronico" minOccurs="0" type="fd1:correo_type"></xsd:element>
            <xsd:element name="fiel" minOccurs="0" type="fd1:fiel_type"></xsd:element>
            <xsd:element name="apoderado_legal" type="fd1:apoderado_type" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="apoderado_type">
        <xsd:sequence>
            <xsd:element name="nombre_apoderado_legal" type="fd1:nombre_type"></xsd:element>
            <xsd:element name="apellido_paterno_apoderado_legal" type="fd1:nombre_type"></xsd:element>
            <xsd:element name="apellido_materno_apoderado_legal" type="fd1:nombre_type"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="domicilio_type">
        <xsd:choice>
            <xsd:element name="nacional" type="fd1:nacional_type"></xsd:element>
            <xsd:element name="extranjero" type="fd1:extranjero_type"></xsd:element>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="nacional_type">
        <xsd:sequence>
            <xsd:element name="entidad_federativa" type="fd1:entidad_fed_type"></xsd:element>
            <xsd:element name="codigo_postal" type="fd1:cp_nac_type"></xsd:element>
            <xsd:element name="ciudad_poblacion" type="fd1:ciudad_type"></xsd:element>
            <xsd:element name="delegacion_municipio" type="fd1:delegacion_type"></xsd:element>
            <xsd:element name="colonia" type="fd1:colonia_type"></xsd:element>
            <xsd:element name="calle" type="fd1:calle_type"></xsd:element>
            <xsd:element name="numero_exterior" type="fd1:numero_type"></xsd:element>
            <xsd:element name="numero_interior" minOccurs="0" type="fd1:numero_type"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="extranjero_type">
        <xsd:sequence>
            <xsd:element name="pais" type="fd1:pais_type"></xsd:element>
            <xsd:element name="estado_provincia" type="fd1:estado_prov_type"></xsd:element>
            <xsd:element name="codigo_postal" type="fd1:cp_ext_type"></xsd:element>
            <xsd:element name="ciudad_poblacion" type="fd1:ciudad_type"></xsd:element>
            <xsd:element name="colonia" type="fd1:colonia_type"></xsd:element>
            <xsd:element name="calle" type="fd1:calle_type"></xsd:element>
            <xsd:element name="numero_exterior" type="fd1:numero_type"></xsd:element>
            <xsd:element name="numero_interior" minOccurs="0" type="fd1:numero_type"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="telefono_type">
        <xsd:sequence>
            <xsd:element name="clave_pais" minOccurs="0" type="fd1:pais_type"></xsd:element>
            <xsd:element name="numero_telefono" type="fd1:num_telefono_type"></xsd:element>
            <xsd:element name="extension" minOccurs="0" type="fd1:extension_type"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

<!--SIMPLE TYPE-->
    <xsd:simpleType name="num_telefono_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{10,12}"/>
            <xsd:minLength value="10"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="extension_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{1,6}"/>
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="cp_ext_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-ZÑ0-9]{4,12}"/>
            <xsd:minLength value="4"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="estado_prov_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-ZÑ\d \.,]{1,70}"/>
            <xsd:minLength value="1"/>
            <xsd:maxLength value="70"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="numero_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-ZÑ\d \.,:/]{1,40}"/>
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="calle_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-ZÑ\d \.,:/]{1,70}"/>
            <xsd:minLength value="1"/>
            <xsd:maxLength value="70"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="colonia_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-ZÑ\d \.,:/]{1,40}"/>
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="delegacion_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{5}"/>
            <xsd:whiteSpace value="preserve"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ciudad_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-ZÑ\d \.,:/]{1,70}"/>
            <xsd:minLength value="1"/>
            <xsd:maxLength value="70"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="entidad_fed_type">
        <xsd:restriction base="xsd:integer">
            <xsd:pattern value="\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="denominacion_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-ZÑ\d #\-\.&amp;,_@&apos;]{1,90}"/>
            <xsd:minLength value="1"/>
            <xsd:maxLength value="90"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="correo_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z\d\._'\-]+@[A-Z\d_'\-]+\.[A-Z\d\._'\-]+"/>
            <xsd:minLength value="5"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="actividad_giro_type">
        <xsd:restriction base="xsd:string">
                <xsd:pattern value="\d{7}"/>
            <xsd:length value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="pais_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{2}"/>
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="rfc_moral_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-ZÑ&amp;]{3}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{3}"/>
            <xsd:length value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="rfc_fisica_type">
        <xsd:restriction base="xsd:string">
            <xsd:length value="13"/>
            <xsd:pattern value="[A-ZÑ&amp;]{4}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="curp_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-ZÑ]{4}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[MH][A-Z]{5}[A-Z0-9][0-9]"/>
            <xsd:length value="18"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="nombre_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-ZÑ \.&apos;]{1,60}"/>
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="cp_nac_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{5}"/>
            <xsd:length value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="clave_sucursal_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z0-9 _-]{1,8}"/>
            <xsd:minLength value="1"/>
            <xsd:maxLength value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="moneda_type">
        <xsd:restriction base="xsd:string">
                <xsd:pattern value="[A-Z]{3}"/>
            </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="monto_type">
        <xsd:restriction base="xsd:decimal">
            <xsd:pattern value="\d{1,14}\.\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="cuenta_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z\d]{1,18}"/>
            <xsd:minLength value="1"/>
            <xsd:maxLength value="18"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="fecha_hora_type">
        <xsd:restriction base="xsd:string">
            <xsd:length value="14"/>
            <xsd:pattern value="(19|2[0-9])[0-9]{2}([0][1-9]|[1][012])([0][1-9]|[1-2][0-9]|[3][0-1])\d{6}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="fecha_type">
        <xsd:restriction base="xsd:string">
            <xsd:length value="8"/>
            <xsd:pattern value="(1[5-9]|2[0-9])[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="folio_type">
        <xsd:restriction base="xsd:string">
                <xsd:pattern value="\d{4}\-\d{1,9}"/>
            </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="clave_or_type">
        <xsd:restriction base="xsd:string">
                <xsd:pattern value="\d{2}-\d{3}"/>
            <xsd:length value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="trimestre_type">
        <xsd:restriction base="xsd:string">
                <xsd:pattern value="(19|2[0-9])[0-9]{2}\-[1234]"/>
            <xsd:length value="6"/>
        </xsd:restriction>
    </xsd:simpleType>    
    <xsd:simpleType name="clave_so_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{2}-\d{3,5}"/>
            <xsd:minLength value="6"/>
            <xsd:maxLength value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tipo_oper_type">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{1,2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="inst_mone_liq_type">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
            <xsd:pattern value="\d{1,2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="fiel_type">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="20"/>
            <xsd:maxLength value="21"/>
            <xsd:pattern value="\d{20,21}"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>